# Unity generated folders
/[Ll]ibrary/
/build/
build.log
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Build outputs
*.apk
*.aab
*.unitypackage
*.app

# IDE / OS
.vs/
.idea/
.gradle/
*.csproj
*.sln
*.user
.DS_Store

# Crash / burst
sysinfo.txt
crashlytics-build.properties
/[Aa]ssets/[Aa]ssetStoreTools*
